.purchase-drink-quantity-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.purchase-drink-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.purchase-drink-container {
  margin-bottom: 20px;
}

.coffee-dispenser {
  width: 150px;
  height: 150px;
  border: 1px solid #111;
  font-size: 150px;
}
