.purchase-drink-quantity-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.charge-coin-container {
  margin: 20px auto;
}

.purchase-drink-container {
  margin-bottom: 20px;
}

.total-charge-coin-container {
  margin-bottom: 20px;
}

.charge-input {
  width: 200px;
  padding: 7px;
  border: 1px solid #111;
  border-radius: 4px;
}

.coffee-dispenser {
  width: 150px;
  height: 150px;
  border: 1px solid #111;
  font-size: 150px;
}
