@import './variable.css';

* {
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  border-radius: 4px;
  padding: 36px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  background-color: white;
  margin-top: 56px;
}

header {
  width: 100%;
  text-align: center;
}

main {
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center
}

button {
  width: 120px;
  height: 36px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: var(--platinum);
  text-align: center;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 4px;
}

input {
  width: 80%;
  height: 36px;
  padding: 10px;
}

.input-button-wrap {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-button-wrap > input,
.input-button-wrap > button {
  height: 100%;
}

.small-button {
  width: 50px;
}

.menu-area {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  cursor: pointer;
  width: 120px;
  height: 36px;
  margin: 2px 0;
  border: none;
  border-radius: 4px;
  background: var(--platinum);
  text-align: center;
}

button:hover {
  background: var(--platinum-2);
}

button:disabled:hover {
  cursor: default;
  background: var(--platinum);
}

.text {
  text-align: center;
}

.ol-reverse {
  list-style: none;
  width: 60%;
  min-height: 140px;
  margin: 20px auto;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

.ol-reverse > li {
  width: 100%;
  height: 40px;
  margin: 2px;
  padding: 8px 0;
  border-radius: 4px;
  background: var(--peach-puff);
  text-align: center;
}
