@import './variable.css';

* {
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  border-radius: 4px;
  padding: 36px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  background-color: white;
  margin-top: 56px;
}

header {
  width: 100%;
  text-align: center;
}

main {
  width: 100%;
  margin: 0 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.guide {
  width: 80%;
  border: 4px solid var(--melon);
  border-radius: 10px;
  padding: 10px;
}

.sections-wrapper {
  display: flex;
  flex-direction: row;
}

.beverage-section, 
.charge-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 120px;
  height: 36px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: var(--platinum);
  text-align: center;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.form-container > p {
  align-self: flex-start;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 4px;
}

input {
  width: 80%;
  height: 36px;
  padding: 10px;
}

.input-button-wrap {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-button-wrap > input,
.input-button-wrap > button {
  height: 100%;
}

.small-button {
  width: 50px;
}

.flexible-button {
  width: fit-content;
  padding: 4px 10px;
}

.menu-area {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.menu-area > button {
  width: 100px;
  height: 50px;
  margin: 2px 0;
}

button:hover {
  background: var(--platinum-2);
}

button:disabled:hover {
  cursor: default;
  background: var(--platinum);
}

.text {
  text-align: center;
}

.pick-up-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ol-reverse {
  list-style: none;
  width: 60%;
  min-height: 140px;
  margin: 20px auto;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

.ol-reverse > li {
  width: 100%;
  height: 40px;
  margin: 2px;
  padding: 8px 0;
  border-radius: 4px;
  background: var(--peach-puff);
  text-align: center;
}

.table {
  border-collapse: collapse;
  margin: 20px;
  text-align: center;
}

.table > thead > tr > th,
.table > tbody > tr > td {
  width: fit-content;
  min-width: 100px;
  padding: 4px;
  border: 1px solid gray;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
