#app {
  background: var(--color-app-background);
  border: 1px solid var(--color-app-border);
  width: 500px;
  min-height: 700px;
  height: 100%;
  text-align: center;
  margin-top: 30px;
}

.title {
  font-size: 27px;
}

.charge-money {
  margin-bottom: 20px;
}

.charge-money__input {
  width: 350px;
  height: 30px;
  border: 1px solid var(--color-app-border);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.charge-money__total-description {
  font-size: 15px;
}

.menu__button {
  height: 40px;
}

.menu__button:enabled:hover,
.menu__button.active {
  background: var(--color-menu-clicked-background);
  color: var(--color-menu-clicked-text);
}

.dispenser {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: 430px;
  margin: 10px 0;
}

.dispenser > div {
  width: 400px;
  font-size: 15px;
  background: var(--color-dispenser-default-background);
  border: 1px solid var(--color-dispenser-default-border);
  border-radius: 5px;
  padding: 10px 0;
  margin: 5px 0;
}

.dispenser > div.done {
  background: var(--color-dispenser-done-background);
  color: var(--color-dispenser-done-text);
  animation: done-change 0.5s;
}

.clear:hover {
  background: var(--color-clear-hover-background);
}

@keyframes done-change {
  from {
    background: var(--color-dispenser-default-background);
    color: var(--color-dispenser-default-text);
  }
  to {
    background: var(--color-dispenser-done-background);
    color: var(--color-dispenser-done-text);
  }
}
